In [103]:
import os
from pyspark.sql import SparkSession
from opencage.geocoder import OpenCageGeocode
from pprint import pprint
from pyspark.sql.functions import udf, avg
from pyspark.sql.types import FloatType, StringType
import geohash2 as gh
import numpy as np
# Load the environment variables from the .env file
from dotenv import load_dotenv
load_dotenv()

True

# Create a SparkSession

In [111]:
# Init SparkSession
spark = SparkSession.builder\
    .appName('workshop1')\
    .master("local[*]") \
    .config("spark.executor.memory", "8g") \
    .config("spark.driver.memory", "8g") \
    .getOrCreate()

In [112]:
spark

# Restaurant Data

In [113]:
# Get data from csv files
csv_dir = "restaurant_csv/restaurant_csv"
csv_files = [os.path.join(csv_dir, f) for f in os.listdir(csv_dir) if f.endswith('.csv')]
df = spark.read.format("csv").option("header", "true").load(csv_files)
df.show()

+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
|          id|franchise_id|      franchise_name|restaurant_franchise_id|country|          city|   lat|     lng|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
|197568495625|          10|    The Golden Spoon|                  24784|     US|       Decatur|34.578| -87.021|
| 17179869242|          59|         Azalea Cafe|                  10902|     FR|         Paris|48.861|   2.368|
|214748364826|          27|     The Corner Cafe|                  92040|     US|    Rapid City|44.080|-103.250|
|154618822706|          51|        The Pizzeria|                  41484|     AT|        Vienna|48.213|  16.413|
|163208757312|          65|       Chef's Corner|                  96638|     GB|        London|51.495|  -0.191|
| 68719476763|          28|    The Spicy Pickle|                  77517|     US|      Grayling|44.657| -84.744|
|223338299419|          28|    The Spicy Pickle|                  36937|     US|        Oswego|43.452| -76.532|
|240518168650|          75|     Greenhouse Cafe|                  93164|     NL|     Amsterdam|52.370|   4.897|
|128849018936|          57|The Yellow Submarine|                   5679|     FR|         Paris|48.872|   2.335|
|197568495635|          20|       The Brasserie|                  24784|     US|Jeffersonville|39.616| -83.612|
| 68719476768|          33|   The Blue Elephant|                  77517|     IT|         Milan|45.479|   9.146|
| 51539607582|          31|           Bistro 42|                   6934|     IT|         Milan|45.444|   9.153|
| 94489280554|          43|      The Food House|                  95399|     FR|         Paris|48.867|   2.329|
|206158430215|           8|     The Green Olive|                  53370|     US|   Haltom City|32.789| -97.280|
|154618822657|           2|        Bella Cucina|                  41484|     US|   Fort Pierce|27.412| -80.391|
| 17179869217|          34|     The Tasty Treat|                  10902|     US|     Green Bay|44.476| -88.077|
|  8589934633|          42|     The Daily Scoop|                  12630|     FR|         Paris|48.854|   2.343|
|240518168596|          21|      The Lazy Daisy|                  93164|     US|    Mendenhall|39.860| -75.646|
|171798691906|          67|  Crimson and Clover|                  65939|     NL|     Amsterdam|52.361|   4.894|
| 42949673022|          63|          Cafe Paris|                  89646|     GB|        London|51.508|  -0.107|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
only showing top 20 rows

In [107]:
# get api key from environment variable
api_key = os.environ.get('API_KEY')

# Define UDF fuynctions for latitude and longitude
@udf(returnType=StringType())
def latitude_udf(city, country, value):
    geocoder = OpenCageGeocode(api_key)
    if value is None:
        query = f"{city}, {country}"
        result = geocoder.geocode(query)
        value = result[0]['geometry']['lat']
    return value

@udf(returnType=StringType())
def longitude_udf(city, country, value):
    geocoder = OpenCageGeocode(api_key)
    if value is None:
        query = f"{city}, {country}"
        result = geocoder.geocode(query)
        value = result[0]['geometry']['lng']
    return value

# Apply the UDF to the lat and lng columns and updated values
df = df.withColumn('lat', latitude_udf('city', 'country', 'lat'))\
       .withColumn('lng', longitude_udf('city', 'country', 'lng'))

# Display the updated data
df.show()

+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
|          id|franchise_id|      franchise_name|restaurant_franchise_id|country|          city|   lat|     lng|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
|197568495625|          10|    The Golden Spoon|                  24784|     US|       Decatur|34.578| -87.021|
| 17179869242|          59|         Azalea Cafe|                  10902|     FR|         Paris|48.861|   2.368|
|214748364826|          27|     The Corner Cafe|                  92040|     US|    Rapid City|44.080|-103.250|
|154618822706|          51|        The Pizzeria|                  41484|     AT|        Vienna|48.213|  16.413|
|163208757312|          65|       Chef's Corner|                  96638|     GB|        London|51.495|  -0.191|
| 68719476763|          28|    The Spicy Pickle|                  77517|     US|      Grayling|44.657| -84.744|
|223338299419|          28|    The Spicy Pickle|                  36937|     US|        Oswego|43.452| -76.532|
|240518168650|          75|     Greenhouse Cafe|                  93164|     NL|     Amsterdam|52.370|   4.897|
|128849018936|          57|The Yellow Submarine|                   5679|     FR|         Paris|48.872|   2.335|
|197568495635|          20|       The Brasserie|                  24784|     US|Jeffersonville|39.616| -83.612|
| 68719476768|          33|   The Blue Elephant|                  77517|     IT|         Milan|45.479|   9.146|
| 51539607582|          31|           Bistro 42|                   6934|     IT|         Milan|45.444|   9.153|
| 94489280554|          43|      The Food House|                  95399|     FR|         Paris|48.867|   2.329|
|206158430215|           8|     The Green Olive|                  53370|     US|   Haltom City|32.789| -97.280|
|154618822657|           2|        Bella Cucina|                  41484|     US|   Fort Pierce|27.412| -80.391|
| 17179869217|          34|     The Tasty Treat|                  10902|     US|     Green Bay|44.476| -88.077|
|  8589934633|          42|     The Daily Scoop|                  12630|     FR|         Paris|48.854|   2.343|
|240518168596|          21|      The Lazy Daisy|                  93164|     US|    Mendenhall|39.860| -75.646|
|171798691906|          67|  Crimson and Clover|                  65939|     NL|     Amsterdam|52.361|   4.894|
| 42949673022|          63|          Cafe Paris|                  89646|     GB|        London|51.508|  -0.107|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+
only showing top 20 rows

In [84]:
@udf(returnType=StringType())
def geohash_udf(lat, lng):
    lat = float(lat)
    lng = float(lng)
    return gh.encode(lat, lng, precision=4)

df = df.withColumn('geohash', geohash_udf('lat', 'lng'))

df.show()

+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+-------+
|          id|franchise_id|      franchise_name|restaurant_franchise_id|country|          city|   lat|     lng|geohash|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+-------+
|197568495625|          10|    The Golden Spoon|                  24784|     US|       Decatur|34.578| -87.021|   dn4h|
| 17179869242|          59|         Azalea Cafe|                  10902|     FR|         Paris|48.861|   2.368|   u09t|
|214748364826|          27|     The Corner Cafe|                  92040|     US|    Rapid City|44.080|-103.250|   9xyd|
|154618822706|          51|        The Pizzeria|                  41484|     AT|        Vienna|48.213|  16.413|   u2ed|
|163208757312|          65|       Chef's Corner|                  96638|     GB|        London|51.495|  -0.191|   gcpu|
| 68719476763|          28|    The Spicy Pickle|                  77517|     US|      Grayling|44.657| -84.744|   dpgw|
|223338299419|          28|    The Spicy Pickle|                  36937|     US|        Oswego|43.452| -76.532|   dr9x|
|240518168650|          75|     Greenhouse Cafe|                  93164|     NL|     Amsterdam|52.370|   4.897|   u173|
|128849018936|          57|The Yellow Submarine|                   5679|     FR|         Paris|48.872|   2.335|   u09w|
|197568495635|          20|       The Brasserie|                  24784|     US|Jeffersonville|39.616| -83.612|   dph9|
| 68719476768|          33|   The Blue Elephant|                  77517|     IT|         Milan|45.479|   9.146|   u0nd|
| 51539607582|          31|           Bistro 42|                   6934|     IT|         Milan|45.444|   9.153|   u0nd|
| 94489280554|          43|      The Food House|                  95399|     FR|         Paris|48.867|   2.329|   u09t|
|206158430215|           8|     The Green Olive|                  53370|     US|   Haltom City|32.789| -97.280|   9vff|
|154618822657|           2|        Bella Cucina|                  41484|     US|   Fort Pierce|27.412| -80.391|   dhyg|
| 17179869217|          34|     The Tasty Treat|                  10902|     US|     Green Bay|44.476| -88.077|   dpcm|
|  8589934633|          42|     The Daily Scoop|                  12630|     FR|         Paris|48.854|   2.343|   u09t|
|240518168596|          21|      The Lazy Daisy|                  93164|     US|    Mendenhall|39.860| -75.646|   dr44|
|171798691906|          67|  Crimson and Clover|                  65939|     NL|     Amsterdam|52.361|   4.894|   u173|
| 42949673022|          63|          Cafe Paris|                  89646|     GB|        London|51.508|  -0.107|   gcpv|
+------------+------------+--------------------+-----------------------+-------+--------------+------+--------+-------+
only showing top 20 rows

In [7]:
# save in parquet
df.write.parquet('restaurant.parquet', mode='overwrite')

In [85]:
# read the cleaned restaurant dataframe from parquet
restaurant_df = spark.read.parquet("restaurant.parquet")

# Weather Data

In [86]:
#Read weather dataset
path = 'weather_dataset'
dfw = spark.read.option("mergeSchema", "true").option("recursiveFileLookup", "true").parquet(path)

In [87]:
#Geohash weather dataset lat and lng
dfw = dfw.withColumn('geohash', geohash_udf('lat', 'lng'))

In [88]:
dfw.show()

+--------+-------+----------+----------+----------+-------+
|     lng|    lat|avg_tmpr_f|avg_tmpr_c| wthr_date|geohash|
+--------+-------+----------+----------+----------+-------+
| -111.09|18.6251|      80.7|      27.1|2017-08-29|   9e31|
|-111.042|18.6305|      80.7|      27.1|2017-08-29|   9e31|
|-110.995|18.6358|      80.7|      27.1|2017-08-29|   9e34|
|-110.947|18.6412|      80.9|      27.2|2017-08-29|   9e34|
|  -110.9|18.6465|      80.9|      27.2|2017-08-29|   9e34|
|-110.852|18.6518|      80.9|      27.2|2017-08-29|   9e34|
|-110.804|18.6571|      80.9|      27.2|2017-08-29|   9e34|
|-105.068|19.1765|      82.4|      28.0|2017-08-29|   9emm|
| -105.02|19.1799|      82.0|      27.8|2017-08-29|   9emm|
|-104.972|19.1832|      82.0|      27.8|2017-08-29|   9emm|
|-104.924|19.1866|      82.0|      27.8|2017-08-29|   9emm|
|-104.876|19.1899|      82.0|      27.8|2017-08-29|   9emm|
|-104.828|19.1932|      81.6|      27.6|2017-08-29|   9emm|
| -104.78|19.1964|      81.6|      27.6|2017-08-29|   9emm|
|-104.732|19.1997|      81.6|      27.6|2017-08-29|   9emt|
|-104.684| 19.203|      77.8|      25.4|2017-08-29|   9emt|
|-104.636|19.2062|      77.8|      25.4|2017-08-29|   9emt|
|-104.588|19.2094|      75.2|      24.0|2017-08-29|   9emt|
| -104.54|19.2126|      75.2|      24.0|2017-08-29|   9emt|
|-104.492|19.2158|      75.2|      24.0|2017-08-29|   9emt|
+--------+-------+----------+----------+----------+-------+
only showing top 20 rows

In [89]:
# rename lat and lng columns to avoid ambiguity
dfw = dfw.withColumnRenamed('lat', 'lat_weather') \
    .withColumnRenamed('lng', 'lng_weather')

In [90]:
dfw.show()

+-----------+-----------+----------+----------+----------+-------+
|lng_weather|lat_weather|avg_tmpr_f|avg_tmpr_c| wthr_date|geohash|
+-----------+-----------+----------+----------+----------+-------+
|    -111.09|    18.6251|      80.7|      27.1|2017-08-29|   9e31|
|   -111.042|    18.6305|      80.7|      27.1|2017-08-29|   9e31|
|   -110.995|    18.6358|      80.7|      27.1|2017-08-29|   9e34|
|   -110.947|    18.6412|      80.9|      27.2|2017-08-29|   9e34|
|     -110.9|    18.6465|      80.9|      27.2|2017-08-29|   9e34|
|   -110.852|    18.6518|      80.9|      27.2|2017-08-29|   9e34|
|   -110.804|    18.6571|      80.9|      27.2|2017-08-29|   9e34|
|   -105.068|    19.1765|      82.4|      28.0|2017-08-29|   9emm|
|    -105.02|    19.1799|      82.0|      27.8|2017-08-29|   9emm|
|   -104.972|    19.1832|      82.0|      27.8|2017-08-29|   9emm|
|   -104.924|    19.1866|      82.0|      27.8|2017-08-29|   9emm|
|   -104.876|    19.1899|      82.0|      27.8|2017-08-29|   9emm|
|   -104.828|    19.1932|      81.6|      27.6|2017-08-29|   9emm|
|    -104.78|    19.1964|      81.6|      27.6|2017-08-29|   9emm|
|   -104.732|    19.1997|      81.6|      27.6|2017-08-29|   9emt|
|   -104.684|     19.203|      77.8|      25.4|2017-08-29|   9emt|
|   -104.636|    19.2062|      77.8|      25.4|2017-08-29|   9emt|
|   -104.588|    19.2094|      75.2|      24.0|2017-08-29|   9emt|
|    -104.54|    19.2126|      75.2|      24.0|2017-08-29|   9emt|
|   -104.492|    19.2158|      75.2|      24.0|2017-08-29|   9emt|
+-----------+-----------+----------+----------+----------+-------+
only showing top 20 rows

In [91]:
#drop rows where geohash and wthr_date together duplicate
dfw = dfw.dropDuplicates(['wthr_date', 'geohash'])

In [15]:
#save in parquet
dfw.write.parquet('weather_without_duplicates.parquet', mode='overwrite')

In [92]:
# read the cleaned weather dataframe from parquet
weather_df = spark.read.parquet("weather_without_duplicates.parquet")

In [17]:
#show where geohash and wthr_date together duplicate
weather_df.groupBy('wthr_date', 'geohash').count().where('count > 1').show()

+---------+-------+-----+
|wthr_date|geohash|count|
+---------+-------+-----+
+---------+-------+-----+

In [18]:
weather_df.show()

+-----------+-----------+----------+----------+----------+-------+
|lng_weather|lat_weather|avg_tmpr_f|avg_tmpr_c| wthr_date|geohash|
+-----------+-----------+----------+----------+----------+-------+
|   -101.238|    19.7128|      61.0|      16.1|2017-08-29|   9g80|
|   -71.6781|    18.4932|      78.7|      25.9|2017-08-29|   d7m1|
|   -104.629|    20.3924|      63.3|      17.4|2017-08-29|   9ets|
|   -88.2381|    20.6006|      82.5|      28.1|2017-08-29|   d59m|
|   -73.4394|    19.5544|      85.6|      29.8|2017-08-29|   d77z|
|   -81.2557|    25.1487|      84.3|      29.1|2017-08-29|   dhqp|
|   -101.569|    27.0982|      82.1|      27.8|2017-08-29|   9szf|
|    -110.47|    27.0939|      89.0|      31.7|2017-08-29|   9sc6|
|   -112.818|    27.2501|      89.6|      32.0|2017-08-29|   9kzg|
|    -103.66|    28.3193|      71.7|      22.1|2017-08-29|   9tn3|
|   -105.114|    28.3219|      73.8|      23.2|2017-08-29|   9tj3|
|   -102.302|    29.0287|      70.9|      21.6|2017-08-29|   9tpm|
|   -81.8899|    28.6907|      77.3|      25.2|2017-08-29|   djjg|
|   -92.0686|    29.7195|      82.7|      28.2|2017-08-29|   9vq9|
|   -81.2063|    29.1807|      78.0|      25.6|2017-08-29|   djnq|
|   -101.926|      29.73|      80.1|      26.7|2017-08-29|   9tr9|
|   -83.9861|    30.2706|      78.0|      25.6|2017-08-29|   djkk|
|   -95.2684|    30.7928|      70.6|      21.4|2017-08-29|   9vkr|
|   -84.6973|    30.5926|      75.9|      24.4|2017-08-29|   dj7y|
|   -94.5264|    31.1557|      69.4|      20.8|2017-08-29|   9vsc|
+-----------+-----------+----------+----------+----------+-------+
only showing top 20 rows

In [93]:
#drop lng_weather and lat_weather
weather_df = weather_df.drop('lng_weather', 'lat_weather')

# Join df_geocoded and weather_df

In [94]:
# Left-join weather and restaurant_df data using the four-character geohash. Make sure to avoid data multiplication and keep your job idempotent
df_joined = restaurant_df.join(weather_df, 'geohash', 'left_outer')

In [95]:
df_joined.show()

+-------+------------+------------+--------------+-----------------------+-------+-------+------+-------+----------+----------+----------+
|geohash|          id|franchise_id|franchise_name|restaurant_franchise_id|country|   city|   lat|    lng|avg_tmpr_f|avg_tmpr_c| wthr_date|
+-------+------------+------------+--------------+-----------------------+-------+-------+------+-------+----------+----------+----------+
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      72.9|      22.7|2017-08-28|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      78.5|      25.8|2017-08-19|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      57.5|      14.2|2016-10-20|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      72.6|      22.6|2016-10-19|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      76.3|      24.6|2017-09-03|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      71.2|      21.8|2017-08-04|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      64.8|      18.2|2016-10-25|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      73.7|      23.2|2017-08-01|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      80.3|      26.8|2017-08-21|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      63.7|      17.6|2017-09-06|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      78.5|      25.8|2017-09-22|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      71.7|      22.1|2017-09-14|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      69.5|      20.8|2017-08-06|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      76.3|      24.6|2017-09-19|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      69.9|      21.1|2017-08-05|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      67.8|      19.9|2017-09-28|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      68.7|      20.4|2017-08-13|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      66.6|      19.2|2016-10-11|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      58.6|      14.8|2016-10-22|
|   9yt8|120259084300|          13| The Firehouse|                  59829|     US|Branson|36.633|-93.272|      75.5|      24.2|2017-08-22|
+-------+------------+------------+--------------+-----------------------+-------+-------+------+-------+----------+----------+----------+
only showing top 20 rows

In [96]:
df_joined.count()

172591

In [97]:
#drop Nan values
df_joined = df_joined.dropna()

In [98]:
#drop rows where geohash and wthr_date together duplicate
df_joined = df_joined.dropDuplicates(['wthr_date', 'geohash'])

In [25]:
df_joined.count()

62897

In [26]:
df_joined.where(df_joined['geohash'] == 'dnpe').count()

92

In [27]:
#show where geohash equals dnpe
df_joined.where(df_joined['geohash'] == 'dnpe').show()

+-------+-----------+------------+---------------+-----------------------+-------+------+------+-------+----------+----------+----------+
|geohash|         id|franchise_id| franchise_name|restaurant_franchise_id|country|  city|   lat|    lng|avg_tmpr_f|avg_tmpr_c| wthr_date|
+-------+-----------+------------+---------------+-----------------------+-------+------+------+-------+----------+----------+----------+
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      71.7|      22.1|2016-10-01|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      70.0|      21.1|2016-10-02|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      70.2|      21.2|2016-10-03|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      68.9|      20.5|2016-10-04|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      67.4|      19.7|2016-10-05|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      68.1|      20.1|2016-10-06|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      73.9|      23.3|2016-10-07|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      69.5|      20.8|2016-10-08|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      65.2|      18.4|2016-10-09|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      58.3|      14.6|2016-10-10|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      57.8|      14.3|2016-10-11|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      63.2|      17.3|2016-10-12|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      65.7|      18.7|2016-10-13|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      65.7|      18.7|2016-10-14|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      64.1|      17.8|2016-10-15|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      65.9|      18.8|2016-10-16|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      68.6|      20.3|2016-10-17|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      70.6|      21.4|2016-10-18|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      72.8|      22.7|2016-10-19|
|   dnpe|60129542152|           9|The Grill House|                  71555|     US|Dillon|34.436|-79.370|      71.4|      21.9|2016-10-20|
+-------+-----------+------------+---------------+-----------------------+-------+------+------+-------+----------+----------+----------+
only showing top 20 rows

In [28]:
#preserving data partitioning in the parquet format.
df_joined.write.partitionBy('city').parquet('final_partitioned.parquet', mode='overwrite')

# Testing

In [118]:
import unittest
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

class TestUDFs(unittest.TestCase):

    @classmethod
    def setUpClass(cls):
        cls.spark = SparkSession.builder.appName("test_udfs").getOrCreate()

    @classmethod
    def tearDownClass(cls):
        cls.spark.stop()

    def test_latitude_udf(self):
        df = self.spark.createDataFrame(
            [
                ("New York", "USA", None),
                ("Paris", "France", None),
                ("Sydney", "Australia", 34.0522),
            ],
            ["city", "country", "latitude"],
        )

        # Call the UDF with a null value
        df = df.withColumn(
            "latitude", latitude_udf(col("city"), col("country"), col("latitude"))
        )

        # Check that the null value has been filled
        self.assertEqual(df.filter(df.city == "New York").first().latitude, "40.7127281")

        # Call the UDF with an existing value
        df = df.withColumn(
            "latitude", latitude_udf(col("city"), col("country"), col("latitude"))
        )

        # Check that the existing value is not changed
        self.assertEqual(df.filter(df.city == "Sydney").first().latitude, "34.0522")

    def test_longitude_udf(self):
        df = self.spark.createDataFrame(
            [
                ("New York", "USA", None),
                ("Paris", "France", None),
                ("Sydney", "Australia", 151.2093),
            ],
            ["city", "country", "longitude"],
        )

        # Call the UDF with a null value
        df = df.withColumn(
            "longitude", longitude_udf(col("city"), col("country"), col("longitude"))
        )

        # Check that the null value has been filled
        self.assertEqual(df.filter(df.city == "Paris").first().longitude, "2.320041")

        # Call the UDF with an existing value
        df = df.withColumn(
            "longitude", longitude_udf(col("city"), col("country"), col("longitude"))
        )

        # Check that the existing value is not changed
        self.assertEqual(df.filter(df.city == "Sydney").first().longitude, "151.2093")

    def test_geohash_udf(self):
        df = self.spark.createDataFrame(
            [
                (40.7128, -74.0060),
                (48.8566, 2.3522),
                (-33.8650, 151.2093),
            ],
            ["latitude", "longitude"],
        )

        # Call the UDF to generate geohashes
        df = df.withColumn(
            "geohash", geohash_udf(col("latitude"), col("longitude"))
        )

        # Check that the geohashes were generated correctly
        self.assertEqual(df.filter(df.latitude == 40.7128).first().geohash, gh.encode(40.7128, -74.0060, precision=4))
        self.assertEqual(df.filter(df.latitude == 48.8566).first().geohash, gh.encode(48.8566, 2.3522, precision=4))
        self.assertEqual(df.filter(df.latitude == -33.8650).first().geohash, gh.encode(-33.8650, 151.2093, precision=4))

In [119]:
# Create an instance of the test class
test_suite = unittest.TestLoader().loadTestsFromTestCase(TestUDFs)

# Run the tests
unittest.TextTestRunner(verbosity=2).run(test_suite)

test_geohash_udf (__main__.TestUDFs) ... ok
test_latitude_udf (__main__.TestUDFs) ... ok
test_longitude_udf (__main__.TestUDFs) ... ok

----------------------------------------------------------------------
Ran 3 tests in 183.135s

OK